<ul class="list-group mt-4">
  <li class="list-group-item"><b>Nome:</b> João Pedro Carvalho Duarte</li>
  <li class="list-group-item"><b>Matrícula:</b> 0050831821023</li>
  <li class="list-group-item"><b class="mr-1">Perfil no Github:</b> <a href="https://github.com/jpcd12" target="_blank">jpcd12</a></li>
</ul>
<ul class="list-group mt-4">
  <li class="list-group-item"><b>Nome:</b> Ricardo de Oliveira Júnior</li>
  <li class="list-group-item"><b>Matrícula:</b> 0050831821033</li>
  <li class="list-group-item"><b class="mr-1">Perfil no Github:</b> <a href="https://github.com/RicardoOliveira99" target="_blank">RicardoOliveira99</a></li>
</ul>